@import 'projectstyle.css';

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

body {
  background: #282828;
  width: 100%;
  font-family: 'Cera Compact Pro', sans-serif;
  color: #e5e5e5;
}

.header {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo a {
  font-size: 36px;
  color: #e6e6e6;
  font-weight: 900;
}

.menu__list {
  color: #e5e5e5;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  margin-left: 20px;
}

.header__burger {
  display: none;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: 0 0 0 20px;
}

.header__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  transition: all 1s ease;
}

.header__link:hover {
  color: #e6c574;
}

/*media*/
@media (max-width: 768px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    overflow: auto;
    background-color: #252525;
    padding: 70px 10px 20px 0;
    z-index: 2;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
    text-align: center;
  }

  .header__list li {
    margin-bottom: 20px;
  }
}

.main {
  width: 400px;
  height: 100%;
  padding: 5px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 95%);
  text-transform: uppercase;
  overflow: hidden;
}

.main__text1,
.main__text2 {
  margin-left: 10px;
}

.main__text1 {
  font-size: 18px;
  position: relative;
  animation-name: main-text1;
}

.main__text2 {
  font-size: 22px;
  text-align: end;
  position: relative;
  animation-name: main-text2;
}

.main__title {
  font-size: 200px;
  margin: 0;
  font-weight: 900;
  animation-name: main-title;
}

.main__title,
.main__text1,
.main__text2 {
  animation-duration: 3s;
  animation-timing-function: linear;
}

@keyframes main-text1 {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes main-text2 {
  0% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes main-title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 450px) {
  .main {
    width: 300px;
  }

  .main__title {
    font-size: 150px;
    text-align: center;
  }
}

.footer {
  margin-top: 50px;
  height: 100px;
  color: #e5e5e5;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

.socials {
  display: flex;
  justify-content: center;
}

.social {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../assets/icon/css_sprites.png");
  background-size: 100%;
  margin-bottom: 10px;
}

.social__fb {
  background-position: 30% 98%;
  margin-left: 10px;

}

.social__inst {
  background-position: 50% 48%;
}

.social__github {
  background-position: 50% -2%;
}

.copyright {
  color: #4a4a4a;
}